[submodule "nixpkgs"]
	path = nixpkgs
        url = https://github.com/terlar/nixpkgs
        branch = master
[submodule "darwin"]
	path = darwin
	url = https://github.com/LnL7/nix-darwin.git
	branch = master
[submodule "home-manager"]
	path = home-manager
	url = https://github.com/rycee/home-manager.git
	branch = master
[submodule "emacs"]
	path = overlays/emacs/src
	url = https://git.savannah.gnu.org/git/emacs.git
	branch = master
[submodule "dotfiles"]
	path = config/dotfiles
	url = https://github.com/terlar/dotfiles.git
	branch = master
[submodule "config/emacs.d"]
	path = config/emacs.d
	url = https://github.com/terlar/emacs.d.git
	branch = master
